@import "reset.css";
@import "font.css";


/* 기본 요소  */
*{
    /* padding:0;
    margin:0; */
    font-family: 'Pretendard-Regular';
}

/* #container {
    width: 1920px;
} */

section {
    text-align: center;
}

li {
    width: inherit;
    height: inherit;
    list-style-type: none;
}

a {
    color: #B5B5B5;
    text-decoration: none;
}

p {
    width: 120px;
    margin: 0 auto;
    font-size: 0.9em;
    line-height: 1.5;
}

button {
    cursor:pointer;
    /* 줄바꿈 방지 */
    white-space:nowrap; 
}

/* 내용  */
header {
    background-color: #002B5B;
    display: flex;
    color: #B5B5B5;
    width: 100%;
    height: 80px;
} 
    /* 가온누리 홈 */
    #logo {
        display: flex;
        align-items: center;
        margin-left: 150px;
        margin-right: 50px;
        width: 10%;
        white-space:nowrap; 
    }

        #logo a {
            font-family: 'Chosunilbo_myungjo', sans-serif, serif;
        }

    /* 네비게이션 */
    nav {
        height: inherit;
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
    }

    /* 행사 소개, 행사 예매, 한복 대여, 셔틀 버스, 열린 마당 */
    #main-nav {
        width: 70%;
        height: inherit;
        text-align: center;
        font-size: 1.2em;
    }

        #main-nav>ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
        }

            .main-nav {
                display: inline-block;
                margin-top: 30px;
                text-align: center;
                width: 200px;
            }

                /* 행사 소개 */
                #description-menu {
                    display: none;
                    width: inherit;
                    line-height: 2;
                    padding-top: 32px;
                }

                /* 열린 마당 */
                #community-menu {
                    display: none;
                    width: inherit;
                    line-height: 2;
                    padding-top: 32px;
                }

    /* 로그인, 회원가입, 언어 */
    #sub-nav {
        width: 20%;
        height: 100%;
        text-align: center;
        white-space: nowrap; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #sub-nav>ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
        }

            .sub-nav {
                border-left: 1px solid #B5B5B5;
                display: flex;
                justify-content: center;
            }

            #sub-nav li:first-child {
                border-style: none;
            }
            
                /* 한국어 */
                #LNG-menu {
                    display: none;
                    line-height: 2;
                    margin-top: 15px;
                    padding-top: 32px;
                }

                    #LNG-menu>li {
                        padding-left: 8px;
                        padding-right: 8px;
                    }

                    /* 네비게이션 드롭다운 메뉴 */
                    #description-menu li:hover, #community-menu li:hover, #LNG-menu li:hover {
                        background-color: #fff;       
                        color: #002B5B; 
                    }
                    
                    nav li:hover #description-menu, nav li:hover #community-menu, nav li:hover #LNG-menu {
                        background-color: #002B5B;
                        display: block;
                        position: absolute;
                        text-align: center;
                        z-index: 100;
                    }

main {
    background-color: #F3F3F3;
    width: 100%;
    height: auto;
}

    main>section:first-child {
        width: 720px;
        height: 100%;
        margin: 0 auto; 
    }

    #signUp-title {
        /* width: auto; */
        text-align: left;
        padding-top: 100px;
    }

        #signUp-title > h1 {
            display: inline-block;
            font-family: 'Chosunilbo_myungjo', sans-serif, serif;
            font-size: 2.5em;
            padding-left: 8px;
        }

        #signUp-title > p {
            display: inline-block;
            width: auto;
            color: #666666;
            padding-left: 5px;
            font-size: 0.95em;
        }

        #colorBox {
            height: 8px;
            width: inherit;
            margin: 10px auto;
            background: linear-gradient(90deg, #002B5B, #002B5B 15%, #EA5455 15%, #EA5455 38%, #e4dccf 38%, #e4dccf 68%, #F9F5EB 68%, #F9F5EB 100%);
        }

    #signUp {
        width: 100%;
        text-align: center;
        margin-top: 55px;
        padding-bottom: 100px;
    }

        label:not(label[for="event-info"]){
            display: inline-block;
            width: 295px;
            text-align: left;
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 3px;
        }
        
            form input:not(input[type=checkbox]) {
                width: 255px;
                height: 45px;
                margin: 5px;
                padding: 0 20px;
                border: 2px solid #bbb;
                border-radius: 8px;
                font-size: 0.9em;
            }
            
            /* 이벤트 정보 */
            form > label:nth-of-type(7) {
                font-size: 0.78em;
                color: #666666;
                margin-right: 15px;
            }

                #event-info {
                    margin-top: 10px;
                    /* 체크박스 색상 변경 */
                    accent-color: #002B5B;           
                    position: relative;         
                    top: 1.5px;
                }

            /* 가입하기 버튼 */
            #signUp-btn  {
                background-color: #002B5B;
                color: #F9F5EB;
                width: 300px;
                height: 45px;
                margin-top: 35px;
                margin-bottom: 40px;
                padding: 0 20px;
                border: 2px solid #002B5B;
                border-radius: 8px;
                font-size: 0.9em;
            }
            
            #sns-signUp {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

                #sns-signUp button {
                    width: 300px;
                    height: 45px;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.9em;
                }

                /* 네이버 */
                /* https://developers.naver.com/docs/signUp/bi/bi.md#%EB%A1%9C%EA%B7%B8%EC%9D%B8-%EB%B2%84%ED%8A%BC-%EC%82%AC%EC%9A%A9-%EA%B0%80%EC%9D%B4%EB%93%9C */
                #naver {
                    background-color: #03c75a;
                    color: white;
                    border-style: none;
                    margin: 5px;
                    width: 100%;
                    height: 100%;
                }

                    #naver > div {
                        display: flex;
                        align-items: center;
                    }

                        #naver div {
                            width: 280px;
                            margin-right: 10px;
                        }

                /* 카카오 */
                /* https://developers.kakao.com/docs/latest/ko/kakaosync/design-guide */
                /* https://developers.kakao.com/docs/latest/ko/kakaosignUp/design-guide#kakaosignUp-button-guide */
                #kakao {
                    background-color: #FEE500;
                    border-style: none;
                    margin: 15px;
                    width: 100%;
                    height: 100%;
                }

                    #kakao > div {
                        display: flex;
                        align-items: center;
                    }

                        #kakao div {
                            width: 280px;
                            margin-right: 8px;
                            color: rgba(0, 0, 0, 85%);
                            font-weight: bold;
                        }

                /* 구글 */
                /* https://developers.google.com/identity/branding-guidelines?hl=ko#matching */
                #google {
                    background-color: white;
                    --border-style: none;
                    border: 2px solid #ccc;
                    margin: 5px;
                    width: 100%;
                    height: 100%;
                }

                    #google > div {
                        display: flex;
                        align-items: center;
                    }

                        #google div {
                            width: 272px;
                            /* 구글 로그인 표준 폰트 : Roboto */
                            font-family: 'Roboto', sans-serif;
                            color: rgba(0, 0, 0, 54%);
                            font-weight: bold;
                        }

footer {
    background-color: #e4dccf;
    width: 100%;
    height: 120px;
    color: #666666;
    font-size: 0.8em;
    line-height: 1.2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 상단 버튼 스타일 */
#btn_top {
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 999; 
}

/* 하단 버튼 스타일 */
#btn_bottom {
    position: fixed;
    right: 10px;
    bottom: 5px;
    z-index: 999; 
}